#edit-openid-connect-client-windows-aad-login {
  margin: 32px auto;
  display: block;
}

.path-user #block-webeco-theme-primary-local-tasks {
  display: none;
}

.path-user.user-logged-in #block-webeco-theme-primary-local-tasks {
  display: grid;
}